.layout-wrapper {
    display: flex;
    flex: 1;         
    overflow: hidden; 
}

.main-content {
    flex: 1;
    padding: 30px;
    background-color: var(--bg-light);
    
    height: calc(100vh - var(--header-height)); 
    overflow-y: auto; /
}